In [3]:
import pandas as pd
import numpy as np
import random

In [5]:
# Set seed for reproducibility
np.random.seed(42)
random.seed(42)

In [7]:
# Number of RBTs in the dataset
num_rbt = 3000

In [9]:
# Generate synthetic data
rbt_data = {
    "rbt_id": [f"RBT_{i+1}" for i in range(num_rbt)],
    "age": np.random.randint(20, 50, num_rbt),
    "education_level": np.random.choice(["High School", "Bachelor's", "Master's"], num_rbt, p=[0.5, 0.4, 0.1]),
    "years_experience": np.round(np.random.uniform(0.5, 10, num_rbt), 1),
    "company_tenure": np.round(np.random.uniform(0.2, 7, num_rbt), 1),
    "hourly_wage": np.random.randint(15, 30, num_rbt),
    "caseload_size": np.random.randint(3, 12, num_rbt),
    "weekly_hours": np.random.randint(20, 40, num_rbt),
    "travel_time_per_week": np.random.randint(0, 10, num_rbt),
    "supervision_hours_last_month": np.random.randint(1, 10, num_rbt),
    "bcba_feedback_score": np.random.randint(1, 6, num_rbt),
    "rbt_support_rating": np.random.randint(1, 6, num_rbt),
    "supervision_helpfulness_score": np.random.randint(1, 6, num_rbt),
    "bcba_communication_score": np.random.randint(1, 6, num_rbt),
    "bcba_goal_communication_score": np.random.randint(1, 6, num_rbt),
    "supervision_frequency_last_3_months": np.random.randint(1, 15, num_rbt),
    "burnout_score": np.random.randint(1, 10, num_rbt),
    "work_life_balance": np.random.randint(1, 6, num_rbt),
    "turnover_status": np.random.choice([0, 1], num_rbt, p=[0.7, 0.3])  # 30% turnover rate
}

In [11]:
# Create DataFrame
df_rbt = pd.DataFrame(rbt_data)

In [17]:
# Save dataset to CSV
csv_filename = "data/rbt_turnover_data.csv"
df_rbt.to_csv(csv_filename, index=False)

In [19]:
print(f"Synthetic RBT Turnover Data saved as {csv_filename}")

# Display first few rows
df_rbt.head()

Synthetic RBT Turnover Data saved as data/rbt_turnover_data.csv

,rbt_id,age,education_level,years_experience,company_tenure,hourly_wage,caseload_size,weekly_hours,travel_time_per_week,supervision_hours_last_month,bcba_feedback_score,rbt_support_rating,supervision_helpfulness_score,bcba_communication_score,bcba_goal_communication_score,supervision_frequency_last_3_months,burnout_score,work_life_balance,turnover_status
0,RBT_1,26,High School,3.5,6.3,23,7,26,1,6,5,5,2,5,3,6,5,3,0
1,RBT_2,39,Bachelor's,4.6,1.0,23,7,38,1,8,2,3,4,3,1,3,2,1,0
2,RBT_3,48,Bachelor's,6.6,6.9,20,10,27,9,1,4,5,3,3,2,14,4,3,0
3,RBT_4,34,High School,7.6,1.6,27,10,36,0,6,4,2,3,3,3,8,7,3,0
4,RBT_5,30,High School,2.7,0.3,25,3,26,8,2,1,2,2,2,4,6,2,4,1